*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}


.conteudo-login{

    width: 50%;
    height: 50%;
}


body{
    width: 100%;
    min-height: 100vh;
    background: #ff914d;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 20%;
    height: 600px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 3);
    
}

.container .login{
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .login .grupo-de-inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 2vh;
    margin-bottom: 30%;

}

.login-tiitle {
    text-align: center;
    padding: 10%;
}
.forget-password{
    margin-bottom:  10%;
    position:absolute;
    bottom: 18%;
}


.forget-password , .register{
    font-size: 12px;

}


.container .login .grupo-de-inputs input  {
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login .grupo-de-inputs .btn {
    padding: 3% 1%;
    text-align: center;
    border: none;
    background: orange;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.container .login .grupo-de-inputs .btn:hover {
    transform: translateY(-5px);
    background: black;
}


